<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="public/css/screen.css" />
<link rel="stylesheet" type="text/css" href="public/css/mobile.css" />
<div id="page">
<fontbase family="Microsoft YaHei">
<style type="text/css">
body,select,textarea {font-size:1.1em}
body, html,input{font-family:"微软雅黑";}
</style>
{{! special process if special table or something need }}
{{! in this, course need special process }}
{{#bio_data}}
	<div id="top-contact">
		<div class="contact-details">
			{{#email}}
			<div class="icon-envelope icon-square"></div> {{email}}<br />
			{{/email}}
			{{#phone}}
			<div class="icon-phone icon-square"></div> {{phone}}<br />
			{{/phone}}
			{{#website}}
			<div class="icon-globe icon-square"></div><a href="{{website}}"> {{website}}</a>
			{{/website}}
		</div>
	</div>
	
	<h1 class="emphnext">{{firstname}} {{familyname}}</h1>
	{{#stars}}
	<span class="stars" style="clear:left">
		 {{#items}}
		 {{name}} {{^last}}<div class="icon-star-o icon-star"></div>{{/last}}
		 {{/items}}
	</span>
	{{/stars}}
	<br/><br/>

	{{#summary}}
	{{#use}}
	<h2><div class="icon-user icon-square"></div> {{title}}</h2>
	<ul>
		{{#points}}
		<li>{{{.}}}</li>
		{{/points}}
	</ul>
	{{/use}}
	{{/summary}}

	{{#github_projects}}
	{{#use}}
	<h2><div class="icon-github icon-square"></div> {{title}}</h2>
	<ul>
	{{#details}}
		<li><a href="https://github.com/{{project_name}}">{{project_name}}</a>
		{{#tagline}} &raquo; {{{tagline}}}{{/tagline}}
			<ul>
				{{#description}}
				<li>{{{.}}}</li>
				{{/description}}
			</ul>
		</li>
	{{/details}}
	</ul>
	{{/use}}
	{{/github_projects}}
	

	{{#skills}}
	{{#use}}
	<h2><div class="icon-th-list icon-square"></div> {{title}}</h2>
	<ul class="languages">
		{{#details}}
		<li>{{type}}: 
			{{#items}}
			<span class="label label-default">{{.}}</span>
			{{/items}}
		</li>
		{{/details}}
	</ul>
	{{/use}}
	{{/skills}}
	

	{{#education}}
	{{#use}}
	<h2><div class="icon-mortar-board icon-rect"></div> {{title}}</h2>
	<div id="mobile-table">
		<div class="table-responsive">
			<table class="table education">
				<tr>
					<th>##degree##</th><th>##major##</th><th>##institution##</th><th nowrap>##graduation_year##</th>{{#show_gpa}}<th>##gpa##</th>{{/show_gpa}}
				</tr>
				{{#schools}}
				<tr>
					<td>{{degree}}</td><td>{{major}}</td><td>{{institution}}</td><td align="center">{{graduation_year}}</td>{{#show_gpa}}<td>{{gpa}}</td>{{/show_gpa}}
				</tr>
				{{/schools}}
			</table>
		</div>
	</div>
	<div id="desktop-table">
		<table class="table education">
			<tr>
				<th>##degree##</th><th>##major##</th><th>##institution##</th><th nowrap>##graduation_year##</th>{{#show_gpa}}<th>##gpa##</th>{{/show_gpa}}
			</tr>
			{{#schools}}
			<tr>
				<td>{{degree}}</td><td>{{major}}</td><td>{{institution}}</td><td align="center">{{graduation_year}}</td>{{#show_gpa}}<td>{{gpa}}</td>{{/show_gpa}}
			</tr>
			{{/schools}}
		</table>
	</div>
	{{/use}}
	{{/education}}
	

	{{#acad_achievements}}
	{{#use}}
	<h2><div class="icon-bookmark icon-rect"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/acad_achievements}}
	

	{{#experience}}
	{{#use}}
	<h2><div class="icon-briefcase icon-square"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>{{title}}, {{{organisation}}}{{#location}}, {{{location}}}{{/location}}
			<span class="right">({{from}} - {{to}})</span>
			<ul>
				{{#details}}
				<li>{{{.}}}</li>
				{{/details}}
 				<li> 
					{{#tools}}
					<span class="label label-default">{{.}}</span>
					{{/tools}}
				</li>
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/experience}}
	

	{{#other_projects}}
	{{#use}}
	<h2><div class="icon-gear icon-square"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>
			{{{headline}}} <span class="right">{{from}} - {{to}}</span>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
				
 				<li> 
					{{#tools}}
					<span class="label label-default">{{.}}</span>
					{{/tools}}
				</li>
			
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/other_projects}}
	

	{{#grad_courses}}
	{{#use}}
	<h2><div class="icon-institution icon-square"></div> {{title}}</h2>
	<table class="table education">
		{{#course}}
		<td><a href="{{url}}">{{name}}</a></td>
		{{/course}}
		{{#rows}}
		<tr>
			{{#columns}}
			<td><a href="{{url}}">{{name}}</a></td>
			{{/columns}}
		</tr>
		{{/rows}}
	</table>
	{{/use}}
	{{/grad_courses}}
	

	{{#undergrad_courses}}
	{{#use}}
	<h2><div class="icon-bookmark icon-square"></div> {{title}}</h2>
	<table class="table education">
		{{#course}}
		<td><a href="{{url}}">{{name}}</a></td>
		{{/course}}
		{{#rows}}
		<tr>
			{{#columns}}
			<td><a href="{{url}}">{{name}}</a></td>
			{{/columns}}
		</tr>
		{{/rows}}
	</table>
	{{/use}}
	{{/undergrad_courses}}
	

	{{#research_experience}}
	{{#use}}
	<h2><div class="icon-edit icon-square"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>
			{{title}}, {{{organisation}}}
			<span class="right">({{from}} - {{to}})</span>
			<ul>
				{{#points}}
				<li>{{{.}}}</li>
				{{/points}}
			</ul>
		</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/research_experience}}
	

	{{#patents}}
	{{#use}}
	<h2><div class="icon-file icon-square"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>{{patent_id}} 
			<a href="{{url}}">{{title}}</a> 
			{{#issuance_date}}, ##issuance## {{issuance_date}}{{/issuance_date}}.
		</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/patents}}
	

	{{#papers}}
	{{#use}}
	<h2><div class="icon-edit icon-square"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>{{authors}} 
			<a href="{{url}}">{{title}},</a> 
			 {{{misc}}}.
		</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/papers}}

	{{#memberships}}
	{{#use}}
	<h2><div class="icon-globe icon-square"></div> {{title}}</h2>
	<ul>
		{{#committees}}
		<li>{{title}} <span class="right">({{from}} - {{to}})</span></li>
		{{/committees}}
	</ul>	
	{{/use}}
	{{/memberships}}
	
	
	{{#extra_curricular}}
	{{#use}}
	<h2><div class="icon-music icon-square"></div> {{title}}</h2>
	<ul>
		{{#items}}
		<li>{{{.}}}</li>
		{{/items}}
	</ul>
	{{/use}}
	{{/extra_curricular}}
	

	<br />
	<div id="bottom-contact" text-size="80%">
		{{#email}}
		<div class="icon-envelope icon-square"></div> {{email}}<br />
		{{/email}}
		{{#phone}}
		<div class="icon-phone icon-square"></div> {{phone}}<br />
		{{/phone}}
		{{#website}}
		<div class="icon-globe icon-square"></div><a href="{{website}}"> {{website}}</a>
		{{/website}}
	</div>
</div>

{{/bio_data}}

{{#settings}}
	{{#icons}}
	<script src="public/js/grunticon.js"></script>
	{{/icons}}
{{/settings}}
</div><!- End Page ->
